extends layout 

block content 
    header 
        h1= 'Message Board'
        p= 'speak your mind freely'
    main
        section.form-container 
            form(method='POST' action='/new')
                h1= 'title'
                input(type='text')
                input(type='text')
                button(type='submit')