* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #ebebeb;
}

header {
  background: rgb(24, 166, 213);
  color: rgb(247, 247, 247);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.6rem;
}